
# build output
# dependencies
# environment variables
# generated types
# jetbrains setting folder
# lighthouse-rapporten
# logs
# lokale wrangler-state
# macOS-specific files
.DS_Store
.astro/
.env
.env.production
.idea/
.wrangler/
dist/
lh-mobile.json
lh-report.json
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
